body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #f2f6f8;
}

.container {
    width: 350px;
    margin: 80px auto;
    background-color: #ffffff;
    padding: 25px;
    border-radius: 8px;
}

.titulo {
    text-align: center;
    color: #2c7be5;
}

.subtitulo {
    text-align: center;
    color: #555;
    margin-bottom: 20px;
}

.label {
    display: block;
    margin-top: 15px;
    font-weight: bold;
}

.input {
    width: 100%;
    padding: 10px;
    margin-top: 5px;
}

.opcoes {
    margin-top: 15px;
}

.checkbox {
    margin-right: 5px;
}

.lembrar {
    font-size: 14px;
}

.esqueceu {
    text-align: right;
    font-size: 14px;
    color: #2c7be5;
    position: relative;
    top: -27px;
}
.esqueceu a{
    text-decoration: none;
}

.botao {
    width: 100%;
    margin-top: 20px;
    padding: 10px;
    background-color: #2c7be5;
    color: white;
    border: none;
}

.divisor {
    text-align: center;
    margin: 20px 0;
    color: #999;
}

.texto {
    text-align: center;
}

.criar-conta {
    text-align: center;
    color: #2c7be5;
    font-weight: bold;
}

.termos {
    font-size: 12px;
    text-align: center;
    margin-top: 15px;
    color: #777;
}

.me a{
    text-decoration: none;
}